version: '3.1'
services:
    ne-one-server:
        image: git.openlogisticsfoundation.org:5050/wg-digitalaircargo/ne-one:dev
        environment:            
            - REPOSITORY_TYPE=in-memory
            - LO_ID_CONFIG_HOST=localhost
            - LO_ID_CONFIG_PORT=8081
            - LO_ID_CONFIG_SCHEME=http
            - AUTH_VALID_ISSUERS_LOCAL=http://keycloak:8080/realms/neone
            - AUTH_ISSUERS_LOCAL_PUBLICKEY_LOCATION=http://keycloak:8080/realms/neone/protocol/openid-connect/certs
            - QUARKUS_OIDC_CLIENT_AUTH_SERVER_URL=http://keycloak:8080/realms/neone
            - QUARKUS_OIDC_CLIENT_CLIENT_ID=neone-client
            - QUARKUS_OIDC_CLIENT_CREDENTIALS_SECRET=lx7ThS5aYggdsMm42BP3wMrVqKm9WpNY                                                                                     
            - QUARKUS_HTTP_PORT=8081            
            - QUARKUS_REDIS_HOSTS=redis://localhost:6379
        ports:
            - "8081:8081"
        links:
            - keycloak
        depends_on:
           keycloak:
            condition: service_healthy
    keycloak:
        image: quay.io/keycloak/keycloak:22.0
        ports:
            - "8089:8080"
        healthcheck:
            # because curl was removed in keycloak 21+
            test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080;echo -e \"GET /health/ready HTTP/1.1\r\nhost: http://localhost\r\nConnection: close\r\n\r\n\" >&3;grep \"HTTP/1.1 200 OK\" <&3"]
            interval: 3s
            timeout: 2s
            start_period: 5s
            retries: 15
        environment:
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: admin
            KC_HEALTH_ENABLED: true
        volumes:
            - "./keycloak/neone-realm.json:/opt/keycloak/data/import/neone-realm.json"
        command:
            - start-dev
            - --import-realm    
